

body {
    grid-template-rows: 80px auto 1fr auto;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "header header header"
    "left banner right"
    "left main right"
    "left low right"
    "footer footer footer";
    grid-gap: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    transition: .5s;
    overflow: hidden hidden;
}

@media (max-width: 668px){
    body{
        transition: .5s;
        grid-template-rows: 50px 50px 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "banner"
        "left"
        "main"
        "right"
        "low"
        "footer";
    }
}

.header{
    justify-self:center ;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: lightgoldenrodyellow;
    grid-area: header;
    transition: .5s;
}

.header:hover{
    border-radius: 15px;
    transition: .5s;
    transform: scale(1.1);
}

.footer{
    transition: .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: lightblue;
    grid-area: footer;
}

.footer:hover{
    border-radius: 15px;
    border-radius: 15px;
    transition: .5s;
    transform: scale(1.1);
}

.banner{
    transition: .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: lightcoral;
    color: white;
    grid-area: banner;
}

.banner:hover{
    border-radius: 15px;
    transition: .5s;
    transform: scale(1.1);
}

.lowContent{
    transition: .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: lightseagreen;
    color: white;
    grid-area: low;
}

.lowContent:hover{
    border-radius: 15px;
    transition: .5s;
    transform: scale(1.1);
}

.rightAside{
    transition: .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: lightgreen;
    grid-area: right;
}

.rightAside:hover{
    border-radius: 15px;
    transition: .5s;
    transform: scale(1.1);
}

.leftAside{
    transition: .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: lightpink;
    grid-area: left;
}

.leftAside:hover{
    border-radius: 15px;
    transition: .5s;
    transform: scale(1.1);
}

.mainContent{
    transition: .5s;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: lightskyblue;
    grid-area: main;

}

.mainContent:hover{
    border-radius: 15px;
    transition: .5s;
    background-color: darkcyan;

}

.loader{
    transition: .5s;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border : 3px solid white;
    border-radius: 100%;
}

.mainContent:hover > .loader {
    transition: .5s;
    width: 100px;
    height: 100px;
    border: 3px dashed white;
    animation: spin 1s infinite linear;
}

.mainContent:hover > .loader h2{
    transition: .5s;
    transform: scale(0);
}

@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

